<div class="new-messege form">
  <div class="title">
    <h1>Редактирование щебета!</h1>
  </div>
  <div class="message">{{message}}</div>
  <form class="edit-message-form"  data-name="editDeleteB" data-id="{{id}}" action="/profile">
    <textarea name="text" cols="20" rows="3" ></textarea>
    <button >Исправить щебет</button>
  </form>
</div>
<script src="/javascripts/application.js"></script>
