<div class="form-login form">
  <div class="title">
    <h2>Вход</h2>
  </div>
  <div class="message">{{message}}</div>
  <form method="POST" action="/login">
    <input type="text" placeholder="Имя" name='name'>
    <input type="text" placeholder="Пароль" name='password'>
    <button>Войти</button>
  </form>
</div>
